<div class="masthead--small">
  <div class="container masthead__container">
    <div class="row masthead__row">
      <div class="col-12">

        <div class="hero text--center">
          <h1 class="hero__title"><%= t('rooms') %></h1>
          <h3 class="hero__subtitle m-b-sm"><%= t('roomspage.search') %></h3>
          <%= render(partial: 'search_form') %>

          <div class="hero__footer">
            <span class="hero__footer__join"><%= t('roomspage.orcreate') %></span><%= link_to(t('roomspage.create'), new_room_path, class: 'btn--secondary') %></a>
          </div>
        </div>


      </div> <!-- /col-12 -->
    </div> <!-- /row -->
    <svg class="masthead__end" width="2000px" height="80px" viewBox="0 0 2000 80">
      <path d="M2.95875508e-10,0.271075437 C1.44325251e-05,0.0924814466 0.528253498,-5.71696376e-14 1.59600999,-5.68434189e-14 C48.1099871,-5.68434189e-14 1957.58289,1.84741111e-13 2000,8.52651283e-14 C956.905816,171.471291 -0.000614269229,7.87245453 2.95875508e-10,0.271075437 L0,0 L2000,0 L2000,80 L0,80 L0,0.271075437 Z" fill="#F5F7F9" fill-rule="evenodd"></path>
    </svg>
  </div> <!-- /container -->
</div> <!-- /masthead -->


<section class="gray-bg svg-footer">
  <div class="container">
    <div class="big-card--extended">
      <div class="big-card__content">

        <% if (@rooms.any?) %>
          <% if(!@no_search) %>
            <h2 class="text--center m-b-md">Results for "<%= @search_term %>"</h2>
          <% end %>
          <ul class="cards bare-list">

            <% if(is_admin?) %>
              <% @rooms.each do |room| %>
                <%= render(partial: 'admin_room_card', locals: { room: room }) %>
              <% end %>
            <% else %>
              <% @rooms.each do |room| %>
                <% if(owns_room?(room)) %>
                  <%= render(partial: 'owned_room_card', locals: { room: room }) %>
                <% else %>
                  <%= render(partial: 'room_card', locals: { room: room }) %>
                <% end %>
              <% end %>
            <% end %>

          </ul>

          <%= paginate @rooms %>

        <% else %>
          <h2 class="text--center m-b-md">No rooms found!</h2>
        <% end %>

      </div>
    </div>
  </div>

  <svg class="before--footer" width="2000px" height="80px" viewBox="0 0 2000 80">
    <path d="M2.95875508e-10,0.271075437 C1.44325251e-05,0.0924814466 0.528253498,-5.71696376e-14 1.59600999,-5.68434189e-14 C48.1099871,-5.68434189e-14 1957.58289,1.84741111e-13 2000,8.52651283e-14 C956.905816,171.471291 -0.000614269229,7.87245453 2.95875508e-10,0.271075437 L0,0 L2000,0 L2000,80 L0,80 L0,0.271075437 Z" fill="#324355" fill-rule="evenodd"></path>
  </svg>

</section>
