<li class="card">
  <%= link_to(room_path(room), class: 'card__thumb', method: :get) do %>
    <%= render(partial: 'room_photo', locals: { url: room.video }) %>
    <% if(has_joined?(room)) %>
      <div class="card__thumb__tag tag--green"><%= t('roomcard.joined') %></div>
    <% end %>
    <div class="card__intro">
      <h3 class="card__title"><%= room.name %></h3>
    </div>
  <% end %>
  <form class="card__footer">
    <% if(has_joined?(room)) %>
      <%= link_to(room_room_users_path(room), method: :delete, class: 'btn--flex btn--solo') do %>
        <svg class="icon" role="presentation">
          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete") %>"></use>
        </svg>
        <%= t('roomcard.leave') %>
      <% end %>
    <% else %>
      <%= link_to(room_room_users_path(room), method: :post, class: 'btn--flex btn--solo') do %>
        <svg class="icon" role="presentation">
          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#done") %>"></use>
        </svg>
        <%= t('roomcard.join') %>
      <% end %>
    <% end %>
  </form>
</li>
