<!DOCTYPE html>
<html>
  <head>
    <title>YouTogether</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap grid -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/4bfaacc9de.js"></script>
    <!-- Favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <div class="modal">
      <div class="modal__container">
        <div class="content">
          <div class="modal__title">Advertisement</div>
          <div class="modal__close"><i class="fa fa-times"></i></div>
          <p>YouTogether can be hard to use on mobile.</p>
          <p>The YouTube video needs to be loaded (clicked) before synchronizing with other devices.</p>
        </div>
      </div>
    </div>

    <header class="banner fixed-top">
      <div class="global-header-basic">
        <div class="container">
          <div class="logo--negativ">
            <a href="/">
              <span class="logo__letter">Y</span>
              <span class="logo__name">ouTogether.</span>
            </a>
          </div>

          <% if(logged_in?) %>
            <%= render(partial: 'authenticated_user_header') %>
          <% else %>
            <%= render(partial: 'anonymous_user_header') %>
          <% end %>

        </div>
      </div>
    </header>

    <%= yield %>


    <footer class="global-footer">
      <div class="container">
        <p class="copyright">Created with
          <svg class="icon--sentence" role="presentation">
            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#heart") %>"></use>
          </svg>
          by Valentin Kaelin</p>
        <div class="languages">
          <% I18n.available_locales.each do |locale| %>
            <%= link_to(locale.capitalize, url_for(locale: locale), class: "languages__elem") %>
          <% end %>
        </div>
      </div>
    </footer>

  </body>
</html>
