<!DOCTYPE html>
<html>
  <head>
    <title>YouTogether</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap grid -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/4bfaacc9de.js"></script>
  </head>

  <body>

    <header class="banner fixed-top">
      <div class="global-header-basic">
        <div class="container">
          <div class="logo--negativ">
            <a href="/">
              <span class="logo__letter">Y</span>
              <span class="logo__name">ouTogether.</span>
            </a>
          </div>
          <nav>
            <ul class="global-nav">
              <li class="global-nav__element"><a href="#">Rooms</a></li>
              <li class="global-nav__element"><a href="#">Sign Up</a></li>
              <li class="global-nav__element"><a href="#">Log in</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer class="global-footer">
      <div class="container">
        <p class="copyright">Created with
          <svg class="icon--sentence" role="presentation">
            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#heart") %>"></use>
          </svg>
          by Valentin K.</p>
        <div class="logo--negativ">
          <a href="/">
            <span class="logo__letter">Y</span>
            <span class="logo__name">ouTogether.</span>
          </a>
        </div>
      </div>
    </footer>

  </body>
</html>
